.wrapper {
    background-color: #202020;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#canvas {
    image-rendering: pixelated;
    height: 100%;
}

#next {
    image-rendering: pixelated;
    height: 20%;
    margin-left: 1%;
}